<!-- ==========================================================================
       RODAPÉ
       ========================================================================== -->
    <footer>
        <div class="container footer-content">
            <div class="about-card">
                <h3>SOBRE O AUTOR</h3>
                <p>Um bibliotecário de formação e estudante de ADS que gosta bastante de cultura pop o bastante para dedicar um tempinho as suas 
                    mais variadas vertentes e comentar o mais abertamente e descontraidamente possível.</p>
            </div>

 <!-- =================redes============================ -->
            
<div class="footer-socials">
    <h4>Me encontre em outras redes</h4>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/danilojose-dev" target="_blank" class="social-item">
            <span class="social-icon">in</span> LinkedIn</a>
        <a href="https://github.com/DanNiloExe" target="_blank" class="social-item">
            <span class="social-icon">Gh</span> GitHub</a>
        <a href="https://letterboxd.com/dan_nilo/" target="_blank" class="social-item">
            <span class="social-icon">L</span> Letterboxd </a>
         <a href="https://skoob.com.br/profile/6370627-dan-nilo" target="_blank" class="social-item">
            <span class="social-icon">K</span> Skoob</a>
        <a href="https://steamcommunity.com/profiles/76561198406960945/" target="_blank" class="social-item">
            <span class="social-icon">S</span> Steam</a>
        <a href="https://yourgamerprofile.com/BarryTroxa" target="_blank" class="social-item">
            <span class="social-icon">YG</span> Your Gamer Profile</a>
        <a href="https://www.albumoftheyear.org/user/dannilo/" target="_blank" class="social-item">
            <span class="social-icon">AotY</span> Album ot the Year</a>
    </div>
</div>


            <div class="footer-meta">
                <p>FLASHPOINT &copy; 2026
                    <br>Todos os direitos reservados.
                </p>
            </div>
    </footer>