 <!-- ============HEADER=================================== -->
    <header>
        <div class="container header-flex">
            <!-- LOGO / BOTÃO HOME -->
            <label for="home" class="logo-btn" onclick="window.location.href='index.html'">
                <div class="logo">FLASH<span>POINT</span></div>


            </label>

            <!-- TAGLINE -->
            <p class="tagline">
                Resenhas rápidas, leves e bem humoradas.
            </p>
        </div>
    </header>