<nav>
    <div class="container nav-scroll">

        <a href="/index.html#jogos">JOGOS</a>
        <a href="/index.html#livros">LIVROS</a>
        <a href="/index.html#filmes">FILMES</a>
        <a href="/index.html#series">SÉRIES</a>
        <a href="/index.html#musica">MÚSICA</a>

        <div class="search-container">

            <form class="search-form">

                <input
                    type="text"
                    placeholder="Buscar"
                    class="search-input"
                >

                <button type="submit" class="search-btn">
                    🔍
                </button>

            </form>

            <div class="search-results"></div>

        </div>

    </div>
</nav>